/* FONTS */
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}





/* VISUALLY-HIDDEN */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }





/* MAIN STYLES */
body {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  margin: 0;
  background-color: #ffffff;
}

.bigger-text-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.bigger-text {
  font-size: 22px;
  line-height: 26px;
  color: #333 inherit;
}





/* HEADER */
.navigation-list {
  list-style: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.navigation-link.is-active {
  border-color: #756257;
}

.page-header button {
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  background-color: #756157;
}





/* INDEX CONTENT */
.hero-background {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.advantages-item,
.services-item.another-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.another-background {
  background-color: rgba(131, 179, 211, 0.2);;
}

.advantages h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-photo {
  color: #ffffff;
  background-color: #82B3D3;
}

.services h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item {
  background-repeat: no-repeat;
}

.services-list :nth-of-type(2) {
  background-repeat: no-repeat;
}

.services-list :nth-of-type(3) {
  background-repeat: no-repeat;
}

.services button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  width: 376px;
  height: 52px;
}





/* SUBSCRIBE BLOCK */
.subscribe {
  color: #fff;
  background-image: url("../images/Subscribe-background.jpg");
  background-repeat: no-repeat;
  background-color: #000;
}

.subscribe input {
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
}

.subscribe button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  background-color: #82B3D3;
}

.subscribe.page-catalog {
  color: #000;
  background: none;
}





/* CATALOG CONTENT */
.catalog-filter-container{
  color: #fff;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-color: #000;
}

.main-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item a {
  font-size: 16px;
  line-height: 21px;
}

.filter-hotels legend {
  font-size: 20px;
  line-height: 24px;
}

.filter-item label {
  font-size: 18px;
  line-height: 23px;
}

.filter-list input[type='checkbox'] {
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.filter-hotels button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.filter-hotels .submit-filter {
  border-radius: 4px;
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
}

.filter-hotels .reset-filter {
  background-color: transparent;
  border: none;
}

.find-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting {
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
  width: 292px;
  height: 49px;
}

.cards-display-item button {
  background-color: transparent;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.cards-display-item .active {
  border-color: #000;
}

.card-text,
.card-price {
  font-size: 18px;
  line-height: 21px;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-card .card-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#fff;
  padding: 8px 50px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  width: 140px;
  height: 36px;
}

.hotel-card .favourites-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#fff;
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: #82B3D3;
  /* width: 140px; */
  height: 36px;
}

.hotel-card .favourites-btn-active {
  background-color: #7DB54F;
}

.hotel-card .card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
}





/* PAGINATION */
.pagination-link{
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  display: inline-block;
}

.pagination-link.pagination-active {
  color: #000;
  background-color: #F2F2F2;
}





/* FOOTER */
.contact-tel a {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
